body {
    background-image: url("/../media/login_page_background.jpg");
    background-repeat: round;
}
.red {
    background-image: url("/media/login_page_background.jpg");
    background-repeat: round;
}
/*body {*/
/*    background-color: khaki;*/
/*}*/