<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create article</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/marked@0.3.6"></script>
        <script src="https://unpkg.com/lodash@4.16.0"></script>
        <link rel="stylesheet" href="../resources/css/nav.css" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/main_content.css" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/editor.css" type="text/css"/>
        <link rel="stylesheet" href="../resources/css/modal_category.css" type="text/css"/>

    </head>
    <body>
        <header>

        </header>
        <main>
            <nav>
                <ul>
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li>
                        <a href="../site_content/list_of_articles.html">Articles</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <div id="main_page_content">
                <div id="category">
                    <button id="category_button" type = "button" name = "button1" @change="getCategoryList()" @click="getCategoryList()">категория</button>
                    <div id="submit_cat">
                        <a href="#" class="btn btn-success" @change="getCategoryList()" @click="getCategoryList()">категория</a>
                    </div>
                    <div
                            v-for="category in info"
                            class="category"
                    >
                        <span class="lighten">
                            <span v-html="category.title" id="category_title"></span>
                            <span v-html="category.description" id="category_description"></span>
                        </span>
                    </div>
                </div>
                <div id="editor_content">
                    <div id="input_title">
                        <input type="text" placeholder="Title of article" class="form-control" v-model="title" />
                        <input type="text" placeholder="Small description for article" class="form-control"  v-model="smallDescription" />
                    </div>
                    <div id="editor">
                        <textarea v-model="description"></textarea>
                    </div>
                    <div id="submit">
                        <a href="#" class="btn btn-success" @change="submitEntry()" @click="submitEntry">Submit</a>
                    </div>
                </div>
            </div>

        </main>
        <footer>

        </footer>
        <script src="../resources/js/editor.js"></script>
        <script src="../resources/js/category.js"></script>
    </body>
</html>