<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>New User</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>
    <link rel="stylesheet" href="../resources/css/nav.css" type="text/css"/>
    <link rel="stylesheet" href="../resources/css/main_content.css" type="text/css"/>
    <link rel="stylesheet" href="../resources/css/for_admin_pages/new_category_editor.css" type="text/css"/>
    <link rel="stylesheet" href="../resources/css/for_admin_pages/administrator_pages.css" type="text/css"/>
    <link rel="stylesheet" href="../resources/css/for_admin_pages/category.css" type="text/css"/>
</head>
<body>

<header>
    <div class="header_right">
        <button class="right" id="return">Вернутья</button>
        <button class="right" id="logout">Выйти</button>
    </div>

</header>
<main>
    <nav>
        <ul>
            <li>
                <a href="../administrator/admin_main_page.html">Главная</a>
            </li>
            <li>
                <a href="#">Контент</a>
                <ul class="context_down">
                    <li>
                        <a href="../administrator/new_article.html">Новая статья</a>
                    </li>
                    <li>
                        <a href="../administrator/list_of_articles.html">Список статей</a>
                    </li>
                    <li>
                        <a href="#">Новая категория</a>
                    </li>
                    <li>
                        <a href="../administrator/list_of_categories.html">Список категорий</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Пользователи</a>
                <ul class="context_down">
                    <li>
                        <a href="../administrator/list_of_users.html">Список пользователей</a>
                    </li>
                    <li>
                        <a href="../administrator/new_user.html">Новый пользователь</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Настройки</a>
            </li>
            <li>
                <a href="#">Справка</a>
            </li>
        </ul>
    </nav>
    <div id="main_page_content">
        <div id="editor_content">
            <div id="input_title">
                <input type="text" placeholder="EMAIL" class="form-control" v-model="email"/>
                <input type="text" placeholder="PASSWORD" class="form-control" v-model="password"/>
                <select id="role" v-model="role">
                    <option disabled value="">ROLE</option>
                    <option>USER</option>
                    <option>ADMIN</option>
                </select>
                <select id="statusEnum" v-model="statusEnum">
                    <option disabled value="">STATUS</option>
                    <option>ACTIVE</option>
                    <option>NOT_ACTIVE</option>
                </select>
            </div>
            <button class="down" v-on:click="create_user()">
                Создать нового пользователя
            </button>
        </div>
    </div>

</main>
<footer>
    <div id="footer_left">

    </div>
    <div id="footer_center">
        <p class="footer_text">Версия cms "Alpha"</p>
    </div>
    <div id="footer_right">
        <p class="footer_text">Автор "Cardinal"</p>
    </div>
</footer>
<script src="../resources/js/for_admin_pages/new_user_editor.js"></script>
</body>
</html>